               <p></p>
                <P>농장회원가입</P>
                <table class="table-secondary">
                    <tr>
                        <td>농장명</td>
                        <td><input type="text" name="farmName"></td>
                    </tr>
                    <tr>
                        <td>농장주소</td>
                        <td><input type="text" name="farmAddress"></td>
                    </tr>
                    <tr>
                        <td>농장전화</td>
                        <td><input type="text" name="farmPhone"></td>
                    </tr>
                    <tr>
                        <td>이력제농장번호</td>
                        <td><input type="text" name="farmNo"></td>
                    </tr>
                </table>
