<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container contents-wrap">

        <form action="/" method="post">
            <h1>회원가입완료</h1>
            <button type = "button" onclick="location.href='/login'">로그인</button>
            <button type = "button" onclick="location.href='/'">첫화면</button>
        </form>
    </div>
</th:block>
</html>